.scroller { overflow: hidden; overflow-x: hidden; overflow-y: hidden; position: relative; }
.scroller-content { height: 100%; overflow: auto; overflow-x: hidden; overflow-y: auto; position: relative; z-index: 1;
	-webkit-overflow-scrolling: touch;
}
.scroller-bar { background: #FBFBFB; display: none; height: 100%!important; position: absolute; right: 0; top: 0; width: 17px; z-index: 2;}
.scroller-track { background: #2d2924; height: 90%!important; position: relative; width: 5px;right: -4px;border-radius: 10px;}
.scroller-handle { background: #d24330; border-radius: 5px; cursor: pointer; height: 20px; overflow: hidden; position: absolute; right:-2px;top: 0; width: 9px; z-index: 2;
	-webkit-transition: right 0.1s linear, width 0.1s linear;
	   -moz-transition: right 0.1s linear, width 0.1s linear;
	   	-ms-transition: right 0.1s linear, width 0.1s linear;
	   	 -o-transition: right 0.1s linear, width 0.1s linear;
	   	 	transition: right 0.1s linear, width 0.1s linear;
}

/* Webkit Fix */
.scroller-content::-webkit-scrollbar,
.scroller-content::-webkit-scrollbar-button,
.scroller-content::-webkit-scrollbar-track,
.scroller-content::-webkit-scrollbar-track-piece,
.scroller-content::-webkit-scrollbar-thumb,
.scroller-content::-webkit-scrollbar-corner,
.scroller-content::-webkit-resizer { background: transparent; opacity: 0; }

/* Active Scrollbar */
.scroller-active .scroller-content { padding: 20px; }
.scroller-active .scroller-bar { display: block; }

/* Setup Scrollbar - Should match 'active' styles for proper sizing */
.scroller-active .scroller-content { padding: 20px; }
.scroller-active .scroller-bar { display: block; }

/* Horizontal */
.scroller-horizontal .scroller-content { overflow: auto; overflow-x: auto; overflow-y: hidden; padding: 0 0 10px 0; }
.scroller-horizontal .scroller-bar { border-left: none; border-top: 1px solid #EEEEEE; bottom: 0; height: 20px; top: auto; width: 100%; }
.scroller-horizontal .scroller-handle { bottom: 5px; height: 10px; right: auto; top: auto; width: 20px; }